:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-tertiary: #f5f5f5;
    --color-quaternary: #7c3aed;
    --color-background: #ffffff;
    --color-text-primary: #000;
    --color-text-secondary: #666;
    --color-card-background: #f8f8f8;
    --color-dropdown-background: #f3e8ff;

    --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-button {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.dropdown-container {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: -120px;
    width: auto;
    height: auto;
    display: none;
    flex-direction: row;
    column-gap: 25px;
    padding: 10px 50px 10px 50px;
    background-color: var(--color-dropdown-background);
    border-radius: 0px 20px 20px 0px ;
    pointer-events: auto;
}

.dropdown-container.dropdown-left {
    right: auto;
    left: -120px;
    border-radius: 20px 0px 0px 20px;
}


.dropdown-button .material-symbols-outlined {
    font-size:28px;
    color: var(--color-text-primary);
    display: inline-block;
}

.update-user-container .dropdown-button .material-symbols-outlined, 
.delete-user-container .dropdown-button .material-symbols-outlined {
    color: var(--color-primary);
} 
.delete-user-container .dropdown-button .material-symbols-outlined:hover, 
.update-user-container .dropdown-button .material-symbols-outlined:hover {
    color: var(--color-quaternary);
}

.dropdown-blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
    pointer-events: auto;
    cursor: pointer;
}

.user-card-wrapper {
    position: relative;
    transition: z-index 0.2s;
}

.user-card-wrapper [style*="z-index: 1000"] {
    z-index: 1000 !important;
}
